{% extends "base.html" %}

{% block content %}

<style>
    .regform {
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        border: 2px solid #20ad6b;
        border-radius: 10px;
        margin-top: 50px;
        background-color: #212529;
        color: white;
    }

    .regform h2 {
        text-align: left;
        margin-bottom: 20px;
    }

    .regform p {
        text-align: left;
        margin-bottom: 40px;
    }

</style>

<div class="regform">
    <br>
    <h2>ABOUT US:</h2>
    <p>Kisaan Udyog is an online platform that facilitates the connection between Indian farmers and distributors. The platform provides farmers with a reliable and efficient channel to sell their crops, guided by the price issued by the government. This ensures that farmers receive fair compensation for their hard work and resources.</p>
    <h2>OUR GOAL:</h2>
    <p>With Fasal Udyog, we aim to create a transparent and fair food system, where farmers have a direct link to the market, and where consumers have access to fresh, locally-sourced produce at an affordable price. By bridging the gap between farmers and distributors, Kisaan Udyog is working towards a more sustainable and equitable future for all.</p>
</div>

{% endblock %}
