{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %} 
    {% if user.groups.all.0.name == "Consumer" or user.groups.all.0.name == "Admin" %}

    <style>
        .regform {
            width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 2px solid #20ad6b;
            border-radius: 10px;
            margin-top: 50px;
            background-color: #212529;
            color: white;
        }

        .regform h2 {
            text-align: center;
            margin-bottom: 20px;
        }

    </style>

    <form action="" method=POST>
        {% csrf_token %}

        <div class="regform">
            <h2>Place Order</h2>
            {{ form.as_p }}

            <button type="submit" class="btn btn-success">Submit</button>
            {% if submitted %}
                Order Placed!
            {% endif %}
        </div>
    </form>

    {% else %}
        <h1 style="text-align: center; margin-top: 5cm; color: #212529;">Sorry! You Are Not Allowed To Access This Page</h1>
    {% endif %}
    {% else %}
        <h1 style="text-align: center; margin-top: 5cm; color: #212529;">Sorry! You Must Login To View This Page</h1>
    {% endif %}
{% endblock %}
